.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 35px;
    justify-content: space-between;
    background-color: rgb(198, 209, 255);
    padding: 0 10px;
    border-radius: 6px;
}
.button {
    cursor: pointer;
}
.activeCardButton {
    background-color: whitesmoke;
    padding: 2px;
}
.activeListButton {
    background-color: whitesmoke;
    padding: 2px;
}